theme: jekyll-theme-so-simple
title: In That Number
email: alexandra@alexandrasaizan.com
locale: en-US
description: >- # this means to ignore newlines until "baseurl:"
  A blog about data science practice, ethics, and the things in between.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://my-site.github.io" # the base hostname & protocol for your site, e.g. http://example.com
domain: alliesaizan.github.io
github_username:  alliesaizan
logo: # "/images/logo.png"
plugins:
  - jekyll-feed
skin: "/assets/css/skins/dark.css"
date_format: "%B %-d, %Y"
paginate: 5
google_fonts:
  - name: "Source Sans Pro"
    weights: "400,400i,700,700i"
  - name: "Lora"
    weights: "400,400i,700,700i"

# Liquid
liquid:
  error_mode: strict

# Build settings
permalink: /:categories/:title/
markdown: kramdown
feed:
  path: atom.xml

# Search
search_full_content: true

category_archive_path: "/categories/#"
tag_archive_path: "/tags/#"

plugins:
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-paginate

# Front Matter Defaults
defaults:
  # Posts defaults
  - scope:
      path: "_posts"
      type: posts
    values:
      layout: post
      share: true

# Footer Links
footer_links:
  - title: GitHub
    url: https://github.com/alliesaizan
    icon: fab fa-github-alt
  - title: LinkedIn
    url: https://www.linkedin.com/in/alexandra-saizan/
    icon: fab fa-linkedin
  # - title: Feed
  #   url: atom.xml
  #   icon: fas fa-rss-square

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
